.site-header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    margin-bottom: 2rem;
    padding: 1rem 0;
    background-color: $black;
    color: $white;

    h1 {
        margin-bottom: -2rem;
        font-size: 2rem;
    }
}

.new-task-form,
.new-task-form__input {
    width: 100%;
}

.new-task-form__input {
    position: relative;
    top: 3rem;
    padding: 0 .8rem;
    font-size: 1.5rem;
    line-height: 3.6rem;
    background-color: #ffffff;
    color: $black;
    border: 1px solid $black;

    &::placeholder {
        color: #aaaaaa;
    }

    &:focus {
        outline: 0;
    }
}
