.tasks {
    margin-bottom: 4rem;

    h2 {
        margin-bottom: 1rem;
        margin-left: 1rem;
        font-size: 2rem;
        color: darken($accent-primary, 30%);

        .fas {
            margin-right: 1rem;
            font-size: 1.6rem;

            &.fa-star {
                color: gold;
            }

            &.fa-check {
                color: limegreen;
            }
        }
    }

    &--complete {
        opacity: .3;
        transition: opacity .2s ease;

        &:hover {
            opacity: 1;
        }
    }
}

.task {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    list-style: none;
    position: relative;
    margin-bottom: .5rem;
    padding: .8rem;
    font-size: 1.3rem;
    align-items: center;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    
    &__description {
        flex: 0 0 100%;
    }

    &__control {
        padding: 1rem .6rem 0;
        color: #eaeaea;
        border-radius: .2rem;
        cursor: pointer;
        transition: all .2s ease;

        &:hover {
            background-color: #f8f8f8;
        }

        &--completion {
            margin-right: .5rem;

            &:hover {
                color: #74bd6c;
            }
        }

        &--star {

            &:hover {
                color: gold;
            }
        }

        &--starred {
            color: gold;
        }

        &--delete {
            margin-left: auto;

            &:hover {
                color: #e73c3c;
            }
        }
    }

    &__tag {
        margin-right: 1rem;
        color: #e90052;
        @include primary-font--bold;
        cursor: pointer;

        &--pl {
            color: $tag-pl;
        }

        &--mm {
            color: $tag-mm;
        }

        &--lolf {
            color: $tag-lolf;
        }

        &--line {
            color: $tag-line;
        }

        &--wr {
            color: $tag-wr;
        }

        &--lfc {
            color: $tag-lfc;
        }

        &--games {
            color: $tag-games;
        }
    }

    &__completed-on {
        position: absolute;
        top: 0.5rem;
        left: 5.6rem;
        font-size: .9rem;
        color: grey;
    }
}
