.tasks {
    margin-bottom: 4rem;

    h2 {
        margin-bottom: 1rem;
        font-size: 1.6rem;
        color: $black;

        .fas {
            margin-right: 1rem;
            font-size: 1.3rem;

            &.fa-star {
                color: gold;
            }

            &.fa-check {
                color: limegreen;
            }
        }
    }

    &--complete {
        opacity: .1;
        transition: opacity .2s ease;

        &:hover {
            opacity: 1;
        }
    }
}

.task {
    display: flex;
    width: 100%;
    list-style: none;
    position: relative;
    margin-bottom: .5rem;
    padding: .8rem 0;
    font-size: 1.3rem;
    align-items: top;

    &__control {
        padding: .3rem;
        color: #eaeaea;
        cursor: pointer;
        transition: all .2s ease;

        &:hover {
            background-color: #f8f8f8;
        }

        &--completion {
            width: 2rem;
            height: 2rem;
            margin-top: .3rem;
            margin-right: .7rem;
            border:1px solid $black;

            &:hover {
                color: #74bd6c;
            }
        }

        &--star {

            &:hover {
                color: gold;
            }
        }

        &--starred {
            color: gold;
        }

        &--delete {
            margin-left: auto;

            &:hover {
                color: #e73c3c;
            }
        }

        &--starred,
        &--star,
        &--delete {
            display: none;
        }
    }

    &__tag {
        margin-right: 1rem;
        color: #e90052;
        @include primary-font--bold;
        cursor: pointer;

        &--pl {
            color: $tag-pl;
        }

        &--mm {
            color: $tag-mm;
        }

        &--lolf {
            color: $tag-lolf;
        }

        &--line {
            color: $tag-line;
        }

        &--wr {
            color: $tag-wr;
        }

        &--lfc {
            color: $tag-lfc;
        }

        &--games {
            color: $tag-games;
        }
    }

    &__completed-on {
        position: absolute;
        top: 0.5rem;
        left: 5.6rem;
        font-size: .9rem;
        color: grey;
    }
}
