/* Colours */
$black: #000;
$white: #ffffff;
$accent-primary: #ff3c52;
$txt-primary: #222222;
$txt-dark: #000000;
$page-bg: #f3f3f3;

$tag-pl: #963cff;
$tag-mm: #963cff;
$tag-lolf: #f3ba29;
$tag-line: tomato;
$tag-wr: #2c8626;
$tag-lfc: saddlebrown;
$tag-games: #469af9;

/* Component Specific Colours */
$input-gradient: linear-gradient(to top, #2c2433, #4e4450 );

/* Fonts */
$primary-font: 'Source Sans Pro', sans-serif;

/* Breakpoints */
$break-mobile:  400px;
$break-phablet: 640px;
$break-tablet:  840px;
$break-desktop: 1025px;
$break-wide:    1300px;

/* Z-Index Layers */
$level-zero: 0;
$level-one: 10;
$level-two: 20;
$level-three: 30;
$level-four: 40;
$level-five: 50;

/* Layout */
$wrapper-width: 43rem;
$page-padding: 3rem;
$page-padding-mobile: 1.5rem;
$nav-height: 9rem;
$modal-min-height: 20rem;
$modal-max-height: 96vh;
$modal-min-width: 50rem;
$modal-max-width: 96vw;
